@use '../global' as global;

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family-default);
    color: var(--color-black);
    font-size: 1.6em;
    text-underline-offset: 0.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-size-adjust: 100%;
    -webkit-print-color-adjust: exact;
    -webkit-tap-highlight-color: transparent;
    background-repeat: no-repeat;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overscroll-behavior-y: none;
}

a,
a:hover,
a:visited {
    outline: none;
    text-decoration: none;
}

::selection {
    background-color: var(--color-black);
    color: var(--color-white);
}

.sp-only {
    display: none;
    @include global.mq-mobile {
        display: block;
    }
}

@include global.mq-mobile {
    .pc-only {
        display: none;
    }
}
