@import '../function/mixin_mq';

// Design sizes
$base-size-pc: 1440;
$base-size-sp: 750;

// Breakpoints
$break-point-pc: 1440px;
$break-point-tablet: 1024px;
$break-point-mobile: 768px;

// Fonts
$font-family-default: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
$font-weight-bold: 700;

// Colors
$color-black: #3b3b3b;
$color-white: #ffffff;

// z-index
$z-header: 100;

// CSS Variables
:root {
    --base-size: #{$base-size-pc};
    @include mq-mobile {
        --base-size: #{$base-size-sp};
    }
}
