//
// rwd break points
// pc-l | pc-s | tablet | mobile
//
// ○ | - | - | -
@mixin mq-pc-l {
    @media all and (min-width: $break-point-pc + 1px) {
        @content;
    }
}
// - | ○ | - | -
@mixin mq-pc-s {
    @media all and (min-width: $break-point-tablet + 1px) and (max-width: $break-point-pc) {
        @content;
    }
}
// - | - | ○ | -
@mixin mq-tablet {
    @media all and (min-width: $break-point-mobile + 1px) and (max-width: $break-point-tablet) {
        @content;
    }
}
// - | - | - | ○
@mixin mq-mobile {
    @media all and (max-width: $break-point-mobile) {
        @content;
    }
}
// ○ | ○ | - | -
@mixin mq-pc-all {
    @media all and (min-width: $break-point-tablet + 1px) {
        @content;
    }
}
// - | ○ | ○ | -
@mixin mq-pc-and-tablet {
    @media all and (min-width: $break-point-mobile + 1px) and (max-width: $break-point-pc) {
        @content;
    }
}
@mixin mq-tablet-and-mobile {
    // - | - | ○ | ○
    @media all and (max-width: $break-point-tablet) {
        @content;
    }
}
// ○ | ○ | ○ | -
@mixin mq-more-than-mobile {
    @media all and (min-width: $break-point-mobile + 1px) {
        @content;
    }
}
// - | ○ | ○ | ○
@mixin mq-less-than-pc {
    @media all and (max-width: $break-point-pc) {
        @content;
    }
}
